.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.link:hover,
.link:focus {
    color: #404BBF;
    text-decoration: underline;
}
.logo-web:hover,
.logo-web:focus,
.logo-web:hover,
.logo-web:focus {
    color: #404BBF;
}
:root {
    --main-font-family: 'Raleway', 'sans serif';
    --second-font-family: 'Roboto', 'open sans';
}
.all-content {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
.logo-web-studio {
    font-family: 'Raleway','sans serif';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.logo-link {
    font-family: 'Raleway','sans serif';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.menu-link {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.address {
    font-style: normal;
}
.address-link {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero-title {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07; 
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero {
    background: #2E2F42;
}
.hero-btn-studio {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    lign-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}
.hero-btn-studio:hover,
.hero-btn-studio:focus {
    background: #404BBF;
}
.hide {
    visibility: hidden;
}
.first-sec-title {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.first-sec-parag {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    color: #434455;
}
.second-sec {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.third-sec {
    background: #F4F4FD;
}
.third-sec-title {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    color: #2E2F42;
}
.list-team {
    background-color: #FFFFFF;
}
.third-sec-name {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.third-sec-desc {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background: #2E2F42;
}
.logo-link-footer {
    font-family: 'Raleway','sans serif';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color:#4d5ae5;
}
.logo-studio-footer {
    color: #F4F4FD;
}
.logo-link-footer:hover,
.logo-link-footer:focus {
    color: #404BBF
}
.hero-btn {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
}
.portfolio-list-title {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio-list-desc {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: #434455;
}
.footer-desc {
    font-family: 'Roboto','open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: #F4F4FD;
}